@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin elementoLista ($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}


body {
    background-color: variaveis.$corDeFundo;
}

header {
    background-color: variaveis.$corPrimario;
    position: sticky;
    top: 0;
    left: 0;
}

.container {
    max-width: 1024;
    width: 100%;
    margin: 0 auto;
}

section {
    margin-top: 24px;
    text-align: center;
}

li {
    list-style: none
}

.product-item {
    text-align: center;
    align-items: center
}

.product-item {
    @include elementoLista();
    list-style: none;
}


header.container {
    padding: 16px 0;
}

.branding,
.menu {
    display: flex;
    justify-content: center;

}

h4 {
    font-size: pixelParaEm(48px);
    text-align: center;
}

.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;
}

.menu li a {
    color: variaveis.$corDeFundo;
    text-decoration: none;
}

section .container {
    padding: 56px 0;
}

.products {
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 60%;
}

.product-item img {
    width: 100%;
    border-radius: 16px;
}

.product-button {
    display: block;
    background-color: #25CCF7;
    color: variaveis.$corSecundario;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: lighten(variaveis.$corSecundario, 15%);
    }
}


@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {

    .products {
        margin: auto;
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}